/* =========== layouts ============= */
button {
  cursor: pointer;
}

.todo-list {
  background-color: #f1f1f1;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;
}

.todo-list-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.todo-list-wrapper {
  width: 89.33%;
  margin: 0 auto;
  border: 1px solid #111;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
}

.todo-list-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px dashed #ccc;
  font-size: 14px;
}

.todo-list-input:focus {
  outline: 1px solid #eb4656;
}

.todo-list-input::placeholder {
  color: #ccc;
}

.todo-list-contents {
  display: flex;
  flex-wrap: wrap;
}

.todo-list-contents .todo-list-item {
  display: flex;
  align-items: center;
  min-height: 20px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 12px;
  padding: 10px 7px 10px 0px;
  width: 100%;
  cursor: pointer;
}

.todo-list-absolute {
  display: flex;
  align-items: center;
}

.todo-list-absolute.move {
  position: absolute;
  z-index: 999;
}

.todo-list-contents.hover .todo-list-item:hover {
  border-left: 3px solid #1f80fd;
}

.todo-list-contents .todo-list-item.move {
  border-bottom: none;
}

.todo-list-contents .todo-list-item.preview {
  border-left: 3px solid #1f80fd;
}

.todo-list-contents .todo-list-item span {
  padding-right: 5px;
}

.todo-list-contents .todo-list-item.complete {
  /* text-decoration: line-through; */
  color: #ccc;
  position: relative;
}

.todo-list-contents .todo-list-item.complete::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('https://w7.pngwing.com/pngs/976/878/png-transparent-black-check-illustration-black-and-white-pattern-black-checkmark-angle-white-sport.png');
}



/* ========= 하단 정보부 ========= */
.todo-list-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.todo-list-buttons button,
.todo-list-clear button {
  background-color: #f1f1f1;
  color: #000;
  outline: none;
  border-radius: 2px;
  border: 1px solid #222;
  font-size: 12px;
  padding: 5px;
}

.todo-list-buttons button.active {
  color: #eb4656;
  font-weight: 500;
  border: 1px solid #eb4656;
}